html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}


/* container */
.a7-container,.a7-panel{padding:0.01em 16px}.a7-panel{margin-top:16px;margin-bottom:16px}



/* color attributes */
.a7-red{color:red;}
.a7-blue{color:blue;}
.a7-green{color:green;}
.a7-brown{color:brown;}
.a7-pink{color:pink;}
.a7-yellow{color:yellow;}
.a7-orange{color:orange;}
.a7-grey{color:grey;}
.a7-gold{color:gold;}
.a7-silver{color:silver;}
.a7-white{color:white;}
.a7-purple{color:purple;}
.a7-black{color:black;}
.a7-cyan{color:cyan;}
.a7-azure{color:azure;}
.a7-maroon{color:maroon;}
.a7-lime{color:lime;}
.a7-coral{color:coral;}
.a7-turquoise{color:turquoise;}
.a7-lavender{color:lavender;}
.a7-magenta{color:magenta;}
.a7-olive{color:olive;}
.a7-navy{color:navy;}
.a7-skyblue{color:skyblue;}
.a7-lightgrey{color:lightgrey;}
.a7-teal{color:teal;}
.a7-tan{color:tan;}
.a7-Salmon{color:Salmon;}

/* background colors */
.a7-bg-red{background-color:red;}
.a7-bg-blue{background-color:blue;}
.a7-bg-green{background-color:green;}
.a7-bg-brown{background-color:brown;}
.a7-bg-pink{background-color:pink;}
.a7-bg-yellow{background-color:yellow;}
.a7-bg-orange{background-color:orange;}
.a7-bg-grey{background-color:grey;}
.a7-bg-gold{background-color:gold;}
.a7-bg-silver{background-color:silver;}
.a7-bg-white{background-color:white;}
.a7-bg-purple{background-color:purple;}
.a7-bg-black{background-color:black;}
.a7-bg-cyan{background-color:cyan;}
.a7-bg-azure{background-color:azure;}
.a7-bg-maroon{background-color:maroon;}
.a7-bg-lime{background-color:lime;}
.a7-bg-coral{background-color:coral;}
.a7-bg-turquoise{background-color:turquoise;}
.a7-lavender{background-color:lavender;}
.a7-bg-magenta{background-color:magenta;}
.a7-bg-olive{background-color:olive;}
.a7-bg-navy{background-color:navy;}
.a7-bg-skyblue{background-color:skyblue;}
.a7-bg-lightgrey{background-color:lightgrey;}
.a7-bg-teal{background-color:teal;}
.a7-bg-tan{background-color:tan;}
.a7-bg-Salmon{background-color:Salmon;}



/* buttons  */